.list{
  padding: 20px;
  width: auto;
  margin: 10px 0;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: solid 1px #cc181e;

  &__img{
    border: solid 1px #cc181e;
  }

  &__link{
    width: 83%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #cc181e;
    text-decoration: none;
    padding: 0 20px;
  }

}
